/**
 * Module dependencies
 */

@require 'shoelace-ui-duration'

/**
 * Replace arguments in current-property
 * with `duration--` variables, if matching.
 *
 * Example:
 *
 *   ```stylus
 *   html {
 *     transition-duration base
 *   }
 *   ```
 *
 *   ```css
 *   html {
 *     transition-duration: 150ms;
 *   }
 *   ```
 * @mixin
 */

transition-duration(time)
  transition-duration ((lookup('duration--' + time)) or time)
